<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:include="common/header"></head>
    <body>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

        <ul>
            <li th:each="event : ${events}" th:object="${event}">
                <span th:text="*{eventName}">hoge</span>
            </li>
        </ul>

        <div>
            <a th:href="@{/event?action=new}">
                <button type="button">Regist</button>
            </a>
        </div>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>
